@-webkit-keyframes click-wave {
  0% {
    width: 40px;
    height: 40px;
    opacity: .35;
    position: relative;
  }
  100% {
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-80px, -80px);
            transform: translate(-80px, -80px);
    opacity: .0;
  }
}
@keyframes click-wave {
  0% {
    width: 40px;
    height: 40px;
    opacity: .35;
    position: relative;
  }
  100% {
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-80px, -80px);
            transform: translate(-80px, -80px);
    opacity: .0;
  }
}
.as-checkbox-label {
  display: inline-block;
  line-height: 40px;
  padding: 2px 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.as-option-input {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  margin-right: 0.3rem;
  vertical-align: bottom;
  z-index: 1000;
}
.as-option-input:hover {
  background: #9faab7;
}
.as-option-input:checked {
  background: #40e0d0;
}
.as-option-input:checked:before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.as-option-input:checked:after {
  -webkit-animation: click-wave 0.65s;
          animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.as-option-input.as-radio {
  border-radius: 50%;
}
.as-option-input.as-radio:after {
  border-radius: 50%;
}
