.react-calculator {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.react-calculator .result-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e3e7e9;
  text-align: right;
  padding: 0px 30px;
  line-height: 80px;
}
.react-calculator .result-panel .last-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #969ba3;
  font-size: 30px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: auto;
  max-width: 100%;
}
.react-calculator .result-panel .cur-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #46494d;
  font-size: 40px;
  overflow: auto;
  max-width: 100%;
}
.react-calculator .button-panel {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
.react-calculator .button-panel .button {
  position: relative;
  margin: 0;
  padding: 0;
  box-shadow: inset 1px 1px 0 0 #e3e7e9;
  border: none;
  background-color: #fafafa;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #979ca4;
  overflow: hidden;
}
.react-calculator .button-panel .button:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #aaa;
  opacity: 0;
}
.react-calculator .button-panel .button.clicked:before {
  -webkit-animation: before 0.5s ease-out 0s 1 alternate forwards;
          animation: before 0.5s ease-out 0s 1 alternate forwards;
}
.react-calculator .button-panel .button.button-equal {
  color: #fff;
  background-color: #fa722e;
}
.react-calculator .button-panel .button:focus {
  outline: none;
}
.react-calculator .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.react-calculator .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.react-calculator .f1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.react-calculator .f2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.react-calculator .f3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
@-webkit-keyframes before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
@keyframes before {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}
